{% extends 'backend/index.html.twig' %}
{% block title %} Administracion | Responsables | Agregar{% endblock %}

{% block dataAdmin %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Agregar Responsable</div>
          <!-- Table -->
          <div class="panel-body">
            <form action="{{URL.backend_responsable_agregar}}" method="post">
              <input type="hidden" name="token" value="{{token}}">
              <div class="form-group">
                <div class="col-md-4">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
                </div>
                <div class="col-md-4">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" required>
                </div>
                <div class="col-md-4">
                  <label for="tipoResponsable">Tipo de Responsable</label>
                  <select class="form-control" name="tipoResponsable" required>
                    <option value="Padre">Padre</option>
                    <option value="Madre">Madre</option>
                    <option value="Tutor">Tutor</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label for="fechaNac">Fecha de Nacimiento</label>
                  <input type="date" class="form-control" id="fechaNac" name="fechaNac" required>
                </div>

                <div class="col-md-3">
                  <label for="tipoDNI">Tipo DNI</label>
                  <select class="form-control" name="tipoDNI" required>
                    <option value="DNI">DNI</option>
                    <option value="CI">Cedula de Identidad</option>
                    <option value="LC">Libreta de Civica</option>
                    <option value="LE">Libreta de Enrolamiento </option>
                  </select>
                </div>
                <div class="col-md-5">
                  <label for="dni">DNI</label>
                  <input type="number" class="form-control" name="dni" id="dni" placeholder="N° DNI" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3">
                  <label for="sexo">Sexo</label>
                   <select  class="form-control"  id="sexo" name="sexo" required>
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                      <option value="O">Otro</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="telefono">Telefono</label>
                  <input type="number" class="form-control" id="telefono" name ="telefono" placeholder="N° Telefonico" required>
                </div>
                <div class="col-md-6">
                  <label for="direccion">Direccion</label>
                  <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-md-3">
                  <label for="username">Usuario</label>
                  <input type="text" class="form-control" id="fechaIngreso" name="username">
                </div>
                <div class="col-md-3">
                  <label for="pass">Contraseña</label>
                  <input type="password" class="form-control" id="pass" name="password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-5">
                  <label>Agregar Alumno</label>
                  <select class="ancho form-control" id="alumnos" size="5">
                    {% for alumno in allAlumnos %}
                      <option value="{{alumno.id}}">
                        {{alumno.nombre ~ " " ~ alumno.apellido}} | {{alumno.dni}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-1 margin-top1">
                  <div id="add" class="btn btn-chico btn-primary btn-chico margin-top1">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </div>
                </div>
                <div class="col-md-5">
                  <label>Alumnos Agregados</label>
                  <ul id="listAlumnos" class="list-group">
                  </ul>  
                </div>
              </div>
              <button type="submit" class="btn btn-primary col-md-12">Agregar Responsable</button>
            </form>
          </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#alumnos').selectFilter({
                filterClass: 'filter-bar form-control',
                minimumCharacters: 2,
                inputPlaceholder: 'Buscar',
                width: '100%',
                minimumSelectElementSize: 5,
                inputLocation: 'above'
            });

            $('#add').click(function(){
              if ($("#list_"+$("#alumnos").val()).length == 0) {
                var txt = "<li class='list-group-item' id='list_"+$('#alumnos').val()+"'>"+$('#alumnos option:selected').text()+" <span class='badge rmItem'>X</span><input name='alumnos[]'  type='hidden' value='"+$('#alumnos').val()+"'/> </li> ";
                $('#listAlumnos').append(txt);
                $('.rmItem').click(function(){
                  $(this).parent().remove();
                });

              };
            });
        });
      </script>
{% endblock %}
