{% extends 'AnexaCooperadoraBundle:backend:inicio.html.twig' %}

{% block title %} Administracion | Usuario{% endblock %}

{% block dataAdmin %}
      {% if msj is defined %}
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Atenci&oacute;n!</strong>{{msj}}
        </div>
      {% endif %}
      <a class="btn btn-primary botonAdd" href="{{URL.backend_usuario_agregar}}" role="button">Agregar Usuario</a>

    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Listado de Usuarios</div>
          <!-- Table -->
          <div class="panel-body" id="paginacion">

            <div class="input-group col-md-12">
                <div class="input-group-addon">
                  <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-filter"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="username" checked> 
                        <label>Username</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="estado" checked> 
                        <label>Estado</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="role" checked> 
                        <label>Rol</label>
                    </li>
                  </ul>
                </div>
                <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

            </div>                                      

            <table class="table">
              <thead>
                <tr>
                  <th>
                    <button class="sort btn" data-sort="username">
                        <span class="glyphicon glyphicon-sort"></span> 
                    </button>
                    Username
                  </th>
                  <th>
                    <button class="sort btn" data-sort="estado">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Estado
                  </th>
                  <th>
                    <button class="sort btn" data-sort="role">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Rol
                  </th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="list">
  	            {% for usuario in usuarios %}
  	              <tr {% if not usuario.habilitado %} class="deshabilitado" {% endif %}>
  	                <td class="username">{{usuario.username}}</td>
  	                <td class="estado">{% if usuario.habilitado %} Habilitado {% else %} Deshabilitado {% endif %}</td>
  	                <td class="role">{{usuario.rol}}</td>
                    <td>
                        <div class="">
                            <a class="btn btn-success" href="{{URL.backend_usuario_ver}}?id={{usuario.id}}" title='Ver'>
                                <span class='glyphicon glyphicon-eye-open'></span>
                            </a>
                            <a class="btn btn-warning" href="{{URL.backend_usuario_estado}}?id={{usuario.id}}" title='Deshabilitar'>
                                <span class='glyphicon glyphicon-lock'></span>
                            </a>       
                            <a class="btn btn-primary" href="{{URL.backend_usuario_editar}}?id={{usuario.id}}" title='Editar'>
                                <span class='glyphicon glyphicon-pencil' ></span>
                            </a>
                            <a class="btn btn-danger" href="{{URL.backend_usuario_eliminar}}?id={{usuario.id}}" title='Eliminar'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </a>       
                        </div>               
                    </td>
  	              </tr>
  	            {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
          </div>
      </div>
      <script type="text/javascript">
        $( document ).ready(function() {
            var monkeyList = new List('paginacion', {
              valueNames: ['username','estado','role'],
              page: {{paginacion}},
              plugins: [ ListPagination({}) ] 
          });

          $(".input-busqueda").keyup(function(){
              filtros = [];
              $("input[name='busqueda']:checked").each(function() {
                  filtros.push($(this).val());
              });
              monkeyList.search($(this).val(), filtros)
          });
        });
        
    </script>
{% endblock %}
