<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""> </a>
      <a class="navbar-brand" href="{{URL.index}}">{{data[5].valorTextual }}</a> {# titulo #}
    

    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li title="Buscar Pagos/Impagos por Alumno"><a href="https://grupo_57.proyecto2015.linti.unlp.edu.ar/consultas/consulaAlumno.html">Info por Alumno</a></li>
        <li title="Buscar el Total de ingreso por Año"><a href="https://grupo_57.proyecto2015.linti.unlp.edu.ar/consultas/consulaTotalAnio.html">Ingresos Totales</a></li>
        <li title="Entrar" class="active"><a href="{{URL.login}}">Entrar</a></li>
      </ul>
    </div>
  </div>
</nav>