{% extends 'AnexaCooperadoraBundle:backend:inicio.html.twig' %}

{% block title %} Administracion | Responsables | Editar{% endblock %}

{% block dataAdmin %}
      <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Editar Responsable: {{responsable.nombre}}</div>
          <!-- Table -->
          <div class="panel-body">
            <form action="{{URL.backend_responsable_editar}}?id={{responsable.id}}" method="post">
              <input type="hidden" name="token" value="{{token}}">
              <div class="form-group">
                <div class="col-md-4">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required value="{{responsable.nombre}}">
                </div>
                <div class="col-md-4">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" required value="{{responsable.apellido}}">
                </div>
                <div class="col-md-4">
                  <label for="tipoResponsable">Tipo de Responsable</label>
                  <select class="form-control" name="tipoResponsable" required>
                    <option value="Padre"  {% if responsable.tipoResponsable == "Padre" %}selected{% endif %} >Padre</option>
                    <option value="Madre" {% if responsable.tipoResponsable == "Madre" %}selected{% endif %}>Madre</option>
                    <option value="Tutor" {% if responsable.tipoResponsable == "Tutor" %}selected{% endif %}>Tutor</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label for="fechaNac">Fecha de Nacimiento</label>
                  <input type="date" class="form-control" id="fechaNac" name="fechaNac" required value="{{responsable.fechaNacimiento | date("Y-m-d") }}" >
                </div>

                <div class="col-md-3">
                  <label for="tipoDNI">Tipo DNI</label>
                  <select class="form-control" name="tipoDNI" required>
                    <option value="DNI" {% if responsable.tipoDni == "DNI" %}selected{% endif %}>DNI</option>
                    <option value="CI" {% if responsable.tipoDni == "CI" %}selected{% endif %}>Cedula de Identidad</option>
                    <option value="LC" {% if responsable.tipoDni == "LC" %}selected{% endif %}>Libreta de Civica</option>
                    <option value="LE" {% if responsable.tipoDni == "LE" %}selected{% endif %}>Libreta de Enrolamiento </option>>
                  </select>
                </div>
                <div class="col-md-5">
                  <label for="dni">DNI</label>
                  <input type="number" class="form-control" name="dni" id="dni" placeholder="N° DNI" required value="{{responsable.dni}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3">
                  <label for="sexo">Sexo</label>
                   <select  class="form-control"  id="sexo" name="sexo" required>
                      <option value="M" {% if responsable.sexo == "M" %}selected{% endif %}>Masculino</option>
                      <option value="F" {% if responsable.sexo == "F" %}selected{% endif %}>Femenino</option>
                      <option value="O" {% if responsable.sexo == "O" %}selected{% endif %}>Otro</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="telefono">Telefono</label>
                  <input type="number" class="form-control" id="telefono" name ="telefono" placeholder="N° Telefonico" required value="{{responsable.telefono}}">
                </div>
                <div class="col-md-6">
                  <label for="direccion">Direccion</label>
                  <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion" required value="{{responsable.direccion}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required value="{{responsable.email}}">
                </div>
                <div class="col-md-3">
                  <label for="username">Usuario</label>
                  <input type="text" class="form-control" id="fechaIngreso" name="username" value="{{usuario.username}}">
                </div>
                <div class="col-md-3">
                  <label for="pass">Contraseña</label>
                  <input type="password" class="form-control" id="pass" name="password">
                </div>


              </div>
              <div class="form-group">
                <div class="col-md-5">
                  <label>Agregar Alumnos</label>
                  <select class="ancho form-control" id="alumnos" size="5">
                    {% for alumno in allAlumnos %}
                      <option value="{{alumno.id}}">
                        {{alumno.nombre ~ " " ~ alumno.apellido}} | {{alumno.dni}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-1 margin-top1">
                  <div id="add" class="btn btn-chico btn-primary btn-chico margin-top1">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </div>
                </div>
                <div class="col-md-5">
                  <label>Alumnos Agregados</label>
                  <ul id="listAlumnos" class="list-group">
                    {% for alumno in alumnos %}
                      <li class='list-group-item' id='list_{{alumno.id}}'>
                        {{alumno.nombre ~ " " ~ alumno.apellido }} | {{alumno.dni}}
                        <span alum-id="{{alumno.id}}" class='badge rmItem remove'>X</span>
                      </li>
                    {% endfor %}
                  </ul>  
                </div>
              </div>
              <button type="submit" class="btn btn-primary col-md-12">Editar Responsable</button>
            </form>
          </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#alumnos').selectFilter({
                filterClass: 'filter-bar form-control',
                minimumCharacters: 2,
                inputPlaceholder: 'Buscar',
                width: '100%',
                minimumSelectElementSize: 5,
                inputLocation: 'above'
            });

            $('#add').click(function(){
              if ($("#list_"+$("#alumnos").val()).length == 0) {
                var txt = "<li class='list-group-item' id='list_"+$('#alumnos').val()+"'>"+$('#alumnos option:selected').text()+" <span class='badge rmItem'>X</span><input name='alumnos[]'  type='hidden' value='"+$('#alumnos').val()+"'/> </li> ";
                $('#listAlumnos').append(txt);
                $('.rmItem').click(function(){
                  $(this).parent().remove();
                });

              };
            });

            $('.remove').click(function(){
              $('#listAlumnos').append('<input name="alumnosRemove[]""  type="hidden" value="'+$(this).attr('alum-id')+'"/>');
              $(this).parent().remove();
            });
        });
      </script>
{% endblock %}
