{% extends 'AnexaCooperadoraBundle:backend:inicio.html.twig' %}

{% block title %} Administracion | Responsables | Ver{% endblock %}

{% block dataAdmin %}
      <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Viendo Responsable: {{responsable.nombre}}</div>
          <!-- Table -->
          <div class="panel-body">
            <div>
              <div class="form-group">
                <div class="col-md-4">
                  <label for="nombre">Nombre</label>
                  <div class="form-control" >{{responsable.nombre}}</div>
                </div>
                <div class="col-md-4">
                  <label for="apellido">Apellido</label>
                  <div class="form-control" >{{responsable.apellido}}</div>
                </div>
                <div class="col-md-4">
                  <label for="tipoResponsable">Tipo de Responsable</label>
                  <div class="form-control" > {{responsable.tipoResponsable}} </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <label for="fechaNac">Fecha de Nacimiento</label>
                  <div class="form-control">{{responsable.fechaNacimiento | date("d/m/Y") }}</div>
                </div>

                <div class="col-md-3">
                  <label for="tipoDNI">Tipo DNI</label>
                  <div class="form-control">{{responsable.tipoDni}}</div>
                </div>
                <div class="col-md-5">
                  <label for="dni">DNI</label>
                  <div class="form-control" >{{responsable.dni}}</div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3">
                  <label for="sexo">Sexo</label>
                   <div class="form-control">{{responsable.sexo}}</div>
                </div>
                <div class="col-md-3">
                  <label for="telefono">Telefono</label>
                  <div class="form-control">{{responsable.telefono}}</div>
                </div>
                <div class="col-md-6">
                  <label for="direccion">Direccion</label>
                  <div class="form-control">{{responsable.direccion}}</div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label for="email">Email</label>
                  <div class="form-control" >{{responsable.email}}</div>
                </div>
                <div class="col-md-3">
                  <label for="username">Usuario</label>
                  <div class="form-control">{{usuario.username}}</div>
                </div>
                <div class="col-md-3">
                  <label for="pass">Contraseña</label>
                  <div class="form-control" > ******* </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-5 col-offset-md-2">
                  <label>Alumnos Agregados</label>
                  <ul id="listResponsables" class="list-group">
                    {% for alumno in alumnos %}
                      <li class='list-group-item'>
                        {{alumno.nombre ~ " " ~ alumno.apellido}}
                        <span class="badge">DNI: {{alumno.dni}}</span>
                      </li>
                    {% endfor %}
                    
                  </ul>  
                </div>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">

      </script>
{% endblock %}
