{% extends 'backend/index.html.twig' %}
{% block title %} Administraci&oacute;n | Listados{% endblock %}

{% block dataAdmin %}
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Listado de Matr&iacute;culas Pagas</div>
    <!-- Table -->
    <div class="panel-body" id="paginacion">                                 
      <div class="col-md-6"> Seleccione un año para ver los alumnos que pagaron la matr&iacute;cula</div>
      <div class="col-md-6"> 
        <form action="{{URL.backend_listado_matriculados}}" method="post">
          <div class="col-md-6">
            <label for="anio"> Año</label>
            <select class="form-control" name="anio" id="anio">
                {% for año in años_matricula %}
                  <option value="{{año}}">{{año}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-md-6">
            <label for="buscar"> Buscar</label>
            <button type="submit" class="btn btn-primary col-md-12" id="buscar"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>

<div class="panel panel-primary">
    <div class="panel-heading">Listado de cuotas becadas o pagas</div>
        <div class="panel-body" id="paginacion">            
            <div class="col-md-4"> Seleccione a&ntilde;o y mes para ver los alumnos con la cuota paga</div>
            <div class="col-md-8"> 
                <form action="{{URL.backend_listado_cuotasPagas}}" method="post">
                    
                    <div class="col-md-4">
                        <label for="anio">Año</label>
                        <select class="form-control" name="anio" id="anio">
                            {% for año in años %}
                                <option value="{{año}}">{{año}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="mes">Mes</label>
                        <select class="form-control" name="mes" id="mes">
                            {% for mes in meses %}
                                <option value="{{mes}}">{{mes}}</option>
                            {% endfor %}               
                        </select>
                    </div>
                     {% if is_admin %}
                        <div class="col-md-4">
                            <label for="user">Usuarios de Gesti&oacute;n</label>
                            <select class="form-control" id="user" name="userId" required>
                                <option value="0">Todos</option>
                                {% for user in usuariosGestion %}    
                                    <option value="{{user.id}}">{{user.username}}</option>
                                {% endfor %}
                            </select>
                        </div> 
                    {% endif %}
            
                    <div class="col-md-4">
                        <label for="buscar">Buscar</label>
                        <button type="submit" class="btn btn-primary col-md-12" id="buscar"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                   
            </form>
        </div>
    </div>
</div>

  <div class="panel panel-primary">
    <div class="panel-heading">Listado de cuotas impagas</div>
    <div class="panel-body" id="paginacion">                                 
      <div class="col-md-6"> Seleccione un a&ntilde;o y mes para ver los alumnos que no pagaron la cuota</div>
      <div class="col-md-6"> 
        <form action="{{URL.backend_listado_cuotasImpagas}}" method="post">
          <div class="col-md-4">
            <label for="anio">Año</label>
            <select class="form-control" name="anio" id="anio">
                {% for año in años %}
                  <option value="{{año}}">{{año}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <label for="mes">Mes</label>
            <select class="form-control" name="mes" id="mes">
                {% for mes in meses %}
                  <option value="{{mes}}">{{mes}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <label for="buscar">Buscar</label>
            <button type="submit" class="btn btn-primary col-md-12" id="buscar"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>

    {% if is_gestion %}
       <div class="panel panel-primary">
        <div class="panel-heading">Listado de comisi&oacute;n </div>
        <div class="panel-body" id="paginacion">                                 
          <div class="col-md-6"> Seleccione un a&ntilde;o y mes para ver el monto total de comisi&oacute;n</div>
          <div class="col-md-6"> 
            <form action="{{URL.backend_listado_comisionCobrada}}" method="post">
              <div class="col-md-4">
                <label for="buscar">Ver</label>
                <button type="submit" class="btn btn-primary col-md-12" id="buscar"><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
{% endblock %}
