{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Cuota | Agregar{% endblock %}

{% block dataAdmin %}
	<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Agregar Cuota </div>
    <!-- Table -->
    <div class="panel-body">

      {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group col-md-12">
          <div class="col-md-3">
              {{ form_label(form.anio) }}
              {{ form_widget(form.anio, {'attr': {'class':'form-control'}}) }}
          </div>
          <div class="col-md-3">
              {{ form_label(form.mes) }}
              {{ form_widget(form.mes, {'attr': {'class':'form-control'}}) }}
          </div> 
          <div class="col-md-3">
              {{ form_label(form.numero) }}
              {{ form_widget(form.numero, {'attr': {'class':'form-control'}}) }}
          </div>
          <div class="col-md-3">
              {{ form_label(form.tipo) }}
              {{ form_widget(form.tipo, {'attr': {'class':'form-control'}}) }}
          </div>
        </div>
        <div class="form-group col-md-12">
           
          <div class="col-md-4">
              {{ form_label(form.monto) }}
              {{ form_widget(form.monto, {'attr': {'class':'form-control'}}) }}
          </div> 
          <div class="col-md-4">
              {{ form_label(form.comisionCobrador) }}
              {{ form_widget(form.comisionCobrador, {'attr': {'class':'form-control'}}) }}
          </div> 
          <div class="col-md-4">
              {{ form_label(form.fechaAlta) }}
              {{ form_widget(form.fechaAlta, {'attr': {'class':'form-control'}} )}}
          </div>
        </div>   
             
        {{ form_label(form.button) }}
            {{ form_widget(form.button, {'attr': {'class':'form-control btn btn-primary col-md-12'}, 'label': 'Agregar Cuota'}) }}

      {{ form_end(form) }}
    </div>
  </div>

{% endblock %}
