{% extends 'AnexaCooperadoraBundle::base.html.twig' %}


{% block title %}
  Administraci&oacute;n
{% endblock %}

{% block menu %}
	{% include 'AnexaCooperadoraBundle:backend:nav.html.twig' %}
    <div class="nav-edit" >
      <div class="well well-sm">
        <a href="" tbodyitle='Volver'>
          <span class='glyphicon glyphicon-share-alt' > Volver</span>
        </a>
      </div>
  </div>
{% endblock %}

{% block addJS %}
  <script src="{{ asset("/js/list.js") }}"></script>
  <script src="{{ asset("/js/list.pagination.js") }}"></script>
  <script src="{{ asset("/js/jquery.select-filter.min.js") }}"></script>

{% endblock %}

{% block cuerpo %}
	<div class="col-md-3">
    {% block menuLateral %}
      {% include 'AnexaCooperadoraBundle:backend:menuLateral.html.twig' %}
    {% endblock %}
	</div>
	<div class="col-md-9">
    {% block dataAdmin %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Panel de Administraci&oacute;n/Consulta</div>
          <div class="panel-body">
            Bienvenido al panel de Consulta / Administraci&oacute;n.
            A la izquierda tiene el men&uacute; con la funciones necesarias
          </div>
      </div>
    {% endblock %}
	</div>
{% endblock %}
