{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Alumnos | Editar{% endblock %}

{% block dataAdmin %}
    <div class="panel panel-primary">
      <!-- Default panel contents -->
        <div class="panel-heading">Editar Alumno ~ {{alumno.nombre}} {{alumno.apellido}}</div>
      <!-- Table -->
        <div class="panel-body">

   {# {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Create" />
    {{ form_end(edit_form) }} #}

            {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}
     
                    <div class="col-md-6">
                        {{ form_label(edit_form.nombre) }}
                        {{ form_widget(edit_form.nombre, {'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(edit_form.apellido) }}
                        {{ form_widget(edit_form.apellido, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4">
                        {{ form_label(edit_form.fechaNacimiento) }}
                        {{ form_widget(edit_form.fechaNacimiento, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4">
                        {{ form_label(edit_form.tipoDNI) }}
                        {{ form_widget(edit_form.tipoDNI, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4">
                        {{ form_label(edit_form.dni) }}
                        {{ form_widget(edit_form.dni, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-3">
                        {{ form_label(edit_form.sexo) }}
                        {{ form_widget(edit_form.sexo, {'attr': {'class':'form-control'}} )}}
                    </div>

                    <div class="col-md-4">
                        {{ form_label(edit_form.telefono) }}
                        {{ form_widget(edit_form.telefono, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-5">
                        {{ form_label(edit_form.email) }}
                        {{ form_widget(edit_form.email, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4">
                        {{ form_label(edit_form.fechaAlta) }}
                        {{ form_widget(edit_form.fechaAlta, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4">
                        {{ form_label(edit_form.fechaIngreso) }}
                        {{ form_widget(edit_form.fechaIngreso, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4">
                        {{ form_label(edit_form.fechaEgreso) }}
                        {{ form_widget(edit_form.fechaEgreso, {'attr': {'class':'form-control'}}) }}
                    </div> 
                     
                    <div class="col-md-4 form-group">
                        {{ form_label(edit_form.calle) }}
                        {{ form_widget(edit_form.calle, {'attr': {'class':'form-control'}}) }}
                    </div> 

                    <div class="col-md-4 form-group">
                        {{ form_label(edit_form.numero) }}
                        {{ form_widget(edit_form.numero, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4 form-group">
                        {{ form_label(edit_form.codigoPostal) }}
                        {{ form_widget(edit_form.codigoPostal, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4 form-group">
                        {{ form_label(edit_form.ciudad) }}
                        {{ form_widget(edit_form.ciudad, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4 form-group">
                        {{ form_label(edit_form.provincia) }}
                        {{ form_widget(edit_form.provincia, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-4 form-group">
                        {{ form_label(edit_form.pais) }}
                        {{ form_widget(edit_form.pais, {'attr': {'class':'form-control'}}) }}
                    </div>   
            
                    <div class="col-md-6">
                        {{ form_label(edit_form.latitud) }}
                        {{ form_widget(edit_form.latitud, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    <div class="col-md-6">
                        {{ form_label(edit_form.longitud) }}
                        {{ form_widget(edit_form.longitud, {'attr': {'class':'form-control'}}) }}
                    </div> 
                    {# <div class="col-md-6">
                        {{ form_label(edit_form.responsables) }}
                        {{ form_widget(edit_form.responsables, {'attr': {'class':'form-control'}}) }}
                    </div> #}

    
                    <div class="form-group col-md-12">
                        <div class="col-md-5">
                          <label>Agregar responsables</label>
                          <select class="ancho form-control" id="responsables" size="5">
                            {% for responsable in allResponsables %}
                              <option value="{{responsable.id}}">
                                {{responsable.nombre ~ " " ~ responsable.apellido}} | {{responsable.dni}}
                              </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-1 margin-top1">
                          <div id="add" class="btn btn-chico btn-primary btn-chico margin-top1">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </div>
                        </div>
                        <div class="col-md-5">
                            <label>Responsables Agregados</label>
                            <ul id="listResponsables" class="list-group">
                                {% for tutor in responsables %}
                                  <li class='list-group-item' id='list_{{tutor.id}}'>
                                    {{tutor.nombre ~ " " ~ tutor.apellido }} | {{tutor.dni}} 
                                    <span resp-id="{{tutor.id}}" class='badge rmItem remove'>X</span>
                                  </li>
                                {% endfor %}
                            </ul>  
                        </div>
                    </div>

                    {{ form_label(edit_form.button) }}
                    {{ form_widget(edit_form.button, {'attr': {'class':'form-control btn btn-primary col-md-12'}, 'label' : 'Editar Alumno'}) }}
   
            {{ form_end(edit_form) }}

        </div>
    </div>
    
  <script type="text/javascript">
  $(document).ready(function() {
      $('#responsables').selectFilter({
          filterClass: 'filter-bar form-control',
          minimumCharacters: 2,
          inputPlaceholder: 'Buscar',
          width: '100%',
          minimumSelectElementSize: 5,
          inputLocation: 'above'
      });

      $('#add').click(function(){
        if ($("#list_"+$("#responsables").val()).length == 0) {
          var txt = "<li class='list-group-item' id='list_"+$('#responsables').val()+"'>"+$('#responsables option:selected').text()+" <span class='badge rmItem rmItem'>X</span><input name='responsables[]'  type='hidden' value='"+$('#responsables').val()+"'/> </li> ";
          $('#listResponsables').append(txt);
          $('.rmItem').click(function(){
            $(this).parent().remove();
          });

        };
      });

      function loadMaps(){
        var lat            = -34.920797;
        var lon            =  -57.953198;
        var zoom           = 14;

        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

        map = new OpenLayers.Map("Map");
        var mapnik         = new OpenLayers.Layer.OSM();
        map.addLayer(mapnik);


        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        //markers.addMarker(new OpenLayers.Marker(position));
        map.setCenter(position, zoom);
      }

      loadMaps();
      $('.direccion').change(function(){
        var numero=$('#numero').val();
        var calle=$('#calle').val();
        var ciudad = $('#ciudad').val();
        var codigoPostal = $('#codigoPostal').val();
        var provincia = $('#provincia').val();
        var pais=$('#pais').val();
        var dir = numero + ", " + calle + ", " + ciudad + ", " + provincia + ", " + codigoPostal + ", " + pais;
        $.ajax({
          url : ' http://nominatim.openstreetmap.org/search?q='+dir+'&format=json&polygon=1&addressdetails=1',
          cache: false
        })
          .done(function( direcciones ) {
            if (!direcciones.length == 0){
              $('.opcion').remove();
              $(direcciones).each(function(index, dir){
                 $('#resultados').append('<option class="opcion" value="'+dir['place_id']+'" id="'+dir['place_id']+'" lat="'+dir['lat']+'" long="'+dir['lon']+'">'+dir['display_name']+'</option>');
              });
            }

          });
      });
      $('#resultados').change(function(){
        var option = $("#resultados option:selected");
        $('#long').val(option.attr('long'));
        $('#lat').val(option.attr('lat'));
        $('#direccion').val(option.text());
        var position       = new OpenLayers.LonLat(option.attr('long'), option.attr('lat'))
                              .transform(
                                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                map.getProjectionObject() // to Spherical Mercator Projection
                              );
        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));
        map.setCenter(position, 15);
      });
  });

  </script>
{% endblock %}

{% block addJS %}

<script src="{{asset("/js/openlayers-master/lib/OpenLayers.js")}}"></script>
<script src="{{asset("/js/jquery.select-filter.min.js")}}"></script>
{% endblock %}

