{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block dataAdmin %}
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Detalles del Alumno</div>
        <!-- Table -->
        <div class="panel-body">
            <div class="form-group col-md-12">
                
                <div class="col-md-6">
                    <label for="nombre">Nombre</label>
                    <div class="form-control">{{alumno.nombre}}</div>
                </div>
                <div class="col-md-6">
                    <label for="apellido">Apellido</label>
                    <div class="form-control" > {{alumno.apellido}}</div>
                </div>
                
            </div>
            <div class="form-group col-md-12">
                
                <div class="col-md-4">
                    <label for="fechaNac">Fecha de Nacimiento</label>
                    <div class="form-control">{{alumno.fechaNacimiento | date("d-m-Y") }}</div>
                </div>
                <div class="col-md-4">
                    <label for="tipoDNI">Tipo de Documento</label>
                    <div class="form-control">{{alumno.tipoDni}}</div>
                </div>
                <div class="col-md-4">
                    <label for="dni">Nro Documento</label>
                    <div class="form-control">{{alumno.dni}}</div>
                </div>
                
            </div>
            <div class="form-group col-md-12"> 
                 
                <div class="col-md-3">
                    <label for="sexo">Sexo</label>          
                    <div class="form-control" >{% if alumno.sexo == 'F' %} Femenino {% elseif  alumno.sexo == 'M'%} Masculino {% else %} Otro {% endif %}</div>
                </div>
                <div class="col-md-4">
                    <label for="telefono">Teléfono</label>
                    <div class="form-control">{{alumno.telefono}}</div>
                </div>
                <div class="col-md-5">
                    <label for="email">Email</label>
                    <div class="form-control" >{{alumno.email}}</div>
                </div>
                
            </div>
            <div class="col-md-12" >
                 
                <div class="col-md-4">
                    <label for="fechaAlta">Fecha de Alta</label>
                    <div class="form-control" >{{alumno.fechaAlta | date("d-m-Y") }}</div>
                </div>          
                <div class="col-md-4">
                    <label for="fechaIngreso">Fecha de Ingreso</label>
                    <div class="form-control" >{{alumno.fechaIngreso | date("d-m-Y") }}</div>
                </div>
                <div class="col-md-4">
                    <label for="fechaEgreso">Fecha de Egreso</label>
                    <div class="form-control" >{{alumno.fechaEgreso | date("d-m-Y") }}</div>
                </div>
                
            </div>
              
            <div class="form-group col-md-12">
                
                <div class="col-md-4">
                    <label for="calle">Calle</label>
                    <div class="form-control" id="calle" >{{alumno.calle}}</div>
                </div>
                <div class="col-md-4">
                    <label for="numero">Número</label>
                    <div class="form-control" id="numero" >{{alumno.numero}}</div>
                </div>
                <div class="col-md-4">
                    <label for="codigoPostal">Código Postal</label>
                    <div class="form-control" id="codigoPostal" >{{alumno.codigoPostal}}</div>
                </div>
                
            </div>
                <div class="form-group col-md-12">  
                    <div class="col-md-4">
                        <label for="ciudad">Ciudad</label>
                        <div class="form-control" id="ciudad" >{{alumno.ciudad}}</div>
                    </div>  
                    <div class="col-md-4">
                        <label for="provincia">Provincia</label>
                        <div class="form-control" id="provincia" >{{alumno.provincia}}</div>
                    </div>
                    <div class="col-md-4">
                        <label for="pais">País</label>
                        <div class="form-control" id="pais" >{{alumno.pais}}</div>
                    </div>
                </div>
            
            <div class="form-group col-md-12">
            {# 
                <div class="col-md-5 col-offset-md-2">
                    <label>Responsables Agregados</label>
                    <ul id="listResponsables" class="list-group">
                        {% for responsable in responsables %}
                            <li class='list-group-item'>
                                {{responsable.nombre ~ " " ~ responsable.apellido}}
                                <span class="badge">DNI:{{responsable.dni}}</span>
                            </li>
                        {% endfor %}  
                    </ul>  
                </div> 
            #}
                <div class="form-group col-md-7 margin-top0">
                    <input type="hidden" name="lat" id="lat" value="{{alumno.latitud}}">
                    <input type="hidden" name="long" id="long" value="{{alumno.longitud}}">
                    <div id="Map" class="img-thumbnail col-md-12" style="height:250px"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
