{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuracion</h1>

    <table>
        <tbody>
            <tr>
                <th>Clave</th>
                <td>{{ configuracion.clave }}</td>
            </tr>
            <tr>
                <th>Valornumerico</th>
                <td>{{ configuracion.valorNumerico }}</td>
            </tr>
            <tr>
                <th>Valortextual</th>
                <td>{{ configuracion.valorTextual }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configuracion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('configuracion_edit', { 'id': configuracion.clave }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
